<!doctype html>
<html>
   <body>
       <h1>Add Data</h1>
        <form method="POST" action="/post_location">
            <input type="text" name="key" placeholder="Pincode">
            <input type="text" name="place_name" placeholder="Town">
            <input type="text" name="admin_name1" placeholder="City">
            <input type="float" name="latitude" placeholder="Latitude">
            <input type="float" name="longitude" placeholder="Longitude">
            <input type="int" name="accuracy" placeholder="Accuracy">
            <input type="submit">
        </form>
   </body>
</html>